@import "./mixins";
@import "./variables";
// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;600;700&display=swap");
//swiper styles

body {
  @include siteMain;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: $fsize * 3;
  color: map-get($colors, green);
}

a {
  text-decoration: none;
}

p {
  font-size: clamp(0.85rem, 1vw, 1rem);
  line-height: 170%;
}

.link {
  background: transparent;
  padding: 10px 25px;
  border-radius: 25px;
  @include transition(all 0.5s ease);
  display: inline-block;
}

.green-btn {
  @extend .link;
  background-color: map-get($colors, primary);
  color: map-get($colors, white);

  &:hover {
    background-color: darken(map-get($colors, primary), 20%);
    color: map-get($colors, white);
  }
}

.blue-btn {
  @extend .link;
  background-color: map-get($colors, secondary);
  color: map-get($colors, white);

  &:hover {
    background-color: darken(map-get($colors, secondary), 10%);
  }
}

header {
  @include max(map-get($breakpoints, "md")) {
    background: map-get($colors, white);
  }
  .navbar {
    background-color: map-get($colors, white);
    margin-top: 15px;
    border-radius: 15px;
    @include transition(all 0.5s ease);

    @include max(map-get($breakpoints, "md")) {
      margin-top: 0;
      background: map-get($colors, white);
      border-radius: 0;
      padding: 10px 0;
    }

    .nav-link.active {
      color: map-get($colors, primary);
    }
  }
  .navbar-brand {
    img {
      width: 120px;

      @include max(map-get($breakpoints, "sm")) {
        width: 100px;
      }
    }
  }
  .navbar-toggler {
    &:focus {
      @include max(map-get($breakpoints, "sm")) {
        box-shadow: none;
      }
    }
  }
  .navbarnav {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .navbar-toggler {
      padding: 5px;
      height: 42px;
    }
  }
  .offcanvas-body {
    .nav-item {
      .nav-link {
        text-transform: uppercase;
        font-weight: map-get($font-weights, semibold);

        @include max(map-get($breakpoints, "lg")) {
          border-bottom: 1px solid map-get($colors, lightgray);
          padding: 15px 0;
        }
      }
    }
  }
}

.fixed-top-nav {
  margin-top: 0;

  .navbar {
    margin-top: 0px;
  }
}

.HomeSlider {
  height: auto;
  .swiper {
    width: 100%;
    height: 80vh;
    @include max(map-get($breakpoints, "xl")) {
      height: auto;
    }
    @include max(map-get($breakpoints, "md")) {
      margin-top: 55px;
    }
    .swiper-slide {
      position: relative;
      .bannerimage {
        position: relative;
        z-index: 10;

        &:before {
          content: "";
          @include linear-gradient(to right, map-get($colors, rgba(0, 0, 0)));
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0.4;
        }
      }

      article {
        position: absolute;
        z-index: 10;
        top: 35%;
        left: 15%;
        @include max(map-get($breakpoints, "md")) {
          left: 3%;
          top: 30%;
        }
        h2 {
          font-size: clamp(1.2rem, 2.5vw, 2.5rem);
        }
        p {
          @include max(map-get($breakpoints, "sm")) {
            line-height: 150%;
            font-size: 12px;
          }
        }
      }
    }
  }
  .swiper-pagination-bullet {
    background: map-get($colors, white);
  }
}

.highlets {
  width: 100%;
  .highlets-col {
    .h5 {
      font-size: clamp(1.1rem, 1.3vw, 1.3rem);
    }
    @include max(map-get($breakpoints, "lg")) {
      margin-bottom: 15px;
    }
    .icon {
      .icomoon {
        font-size: clamp(1.5rem, 4vw, 4rem);
      }
    }
  }
}

.sectionTitle {
  h6 {
    font-size: clamp(0.6rem, 0.8vw, 0.8rem);
    background: map-get($colors, secondary);
    display: inline-block;
    color: map-get($colors, white);
    text-transform: uppercase;
    padding: 3px 10px;
    letter-spacing: 2px;
  }
  h3 {
    font-size: clamp(1.1rem, 1.7vw, 1.7rem);
    color: map-get($colors, black);
  }
}

.Homeabout {
  background: map-get($colors, lightgray) url(../img/aboutbg-pattern.png)
    no-repeat 0 0;

  .aboutImage {
    text-align: right;
    position: relative;

    .ExpNumber {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      background: map-get($colors, white);
      position: absolute;
      top: 25%;
      left: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .num {
        font-size: clamp(2rem, 5vw, 5rem);
        line-height: 110%;
        color: map-get($colors, primary);
      }
    }
  }
  .company-highletscol {
    padding: 50px 0;
    color: map-get($colors, black);

    @include max(map-get($breakpoints, "sm")) {
      padding: 15px 0;
    }

    .col-4 {
      border-right-color: map-get($colors, black) !important;

      h3 {
        font-size: clamp(1.5rem, 3vw, 3rem);
      }
      p {
        font-size: clamp(0.8rem, 1vw, 1rem);
      }
    }
  }
}

.HomeCategories {
  background: lighten(map-get($colors, primary), 52%);
  padding: 50px 0;

  @include max(map-get($breakpoints, "md")) {
    padding: 20px 0;
  }

  .cat-col {
    position: relative;
    margin-bottom: 15px;

    img {
      border-radius: 15px;
    }

    article {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      @include linear-gradient(to top, rgba(0, 0, 0, 0.3));
      color: map-get($colors, white);
      height: auto;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;

      h4 {
        font-size: clamp(1rem, 1.2vw, 1.2rem);
        padding-bottom: 10px;
        margin: 0;
      }
      p {
        font-size: clamp(0.8rem, 0.9vw, 0.9rem);
        padding: 0;
        margin: 0;
      }
    }
  }
}

.HomeProducts {
  padding: 50px 0;

  @include max(map-get($breakpoints, "md")) {
    padding: 20px 0;
  }

  .swiper {
    padding: 10px 0 40px 0;
  }

  .HomePorudctitem {
    padding: 10px;
    border-radius: 15px;
    // border: 1px solid map-get($colors, lightgray);
    background: map-get($colors, white);
    height: 410px;
    figure {
      background: map-get($colors, white);
      padding: 10px;
      border-radius: 15px;
      border: 1px solid map-get($colors, lightgray);
    }
    article {
      h6 {
        padding: 7px 0;
        border: 1px dashed map-get($colors, primary);
        font-size: clamp(1rem, 0.9vw, 0.9rem);
      }
      p {
        font-size: clamp(0.7rem, 0.9vw, 0.9rem);
      }
    }
  }
}

.homeWhyChooseus {
  background: lighten(map-get($colors, primary), 52%);
  padding: 50px 0;
  @include max(map-get($breakpoints, "sm")) {
    padding: 20px 0;
  }
  .whychooseusimg {
    border-radius: 200px;
  }
  .whycol {
    margin-bottom: 35px;
    @include max(map-get($breakpoints, "md")) {
      margin-bottom: 10px;
    }
    .icomoon {
      font-size: clamp(2rem, 3.2vw, 3.2rem);
    }
    h5 {
      font-size: clamp(1rem, 1.3vw, 1.3rem);
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
}

.HomeStories {
  padding: 50px 0;

  .storyItem {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    h5 {
      font-size: clamp(1rem, 1.1vw, 1.1rem);
      line-height: 140%;
    }
    a {
      color: map-get($colors, black);
    }

    &:hover {
      h5 {
        color: map-get($colors, primary);
      }
    }
  }
}

footer {
  font-size: $fsize;
  position: relative;
  margin-top: 50px;
  @include max(map-get($breakpoints, "md")) {
    padding-top: 20px;
    margin-top: 0;
  }
  // background: lighten(map-get($colors, primary), 40%);
  background-image: linear-gradient(
    109.6deg,
    rgba(104, 183, 249, 0.2) 31.3%,
    rgba(176, 248, 200, 0.2) 100.2%
  );
  padding: 50px 0 0 0;

  .footer-col-title {
    font-size: clamp(1.1rem, 1.2vw, 1.2rem);
    padding-bottom: 15px;

    @include max(map-get($breakpoints, "md")) {
      padding-bottom: 5px;
    }
  }
  a {
    color: map-get($colors, black);
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: underline;

    &:hover {
      color: map-get($colors, primary);
    }
  }
  .contacts {
    li {
      margin-bottom: 20px;
    }
  }
  .social {
    a {
      font-size: $fsize + 5;
      margin-right: 10px;
      padding: 5px;
      text-decoration: none;
    }
  }
  .bottomFooter {
    margin-top: 25px;
  }
  .scroll-to-top {
    right: 0;
    bottom: 50px;
    position: fixed;
    z-index: 999;

    a {
      width: 50px;
      height: 50px;
      background: map-get($colors, white);
      text-align: center;
      border-radius: 50%;
      line-height: 150%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include box-shadow(2px, 2px, 4px, #ccc);
      text-decoration: none;

      .icomoon {
        font-size: clamp(2rem, 2.5vw, 2.5rem);
      }
    }
  }
}

.subPage {
  .subPageHeader {
    background: url(../img/subpage-header-bg.jpg) no-repeat 0 0;
    background-size: cover;
    padding: 100px 0;
    color: map-get($colors, white);
    @include max(map-get($breakpoints, "md")) {
      padding: 75px 0 25px 0;
    }

    .h1 {
      font-size: clamp(1.5rem, 2.5vw, 2.5rem);
      margin: 0;
      padding: 0;
    }
  }
  .breadcrumb-item {
    color: map-get($colors, black);
    font-size: $fsize - 1;
    &:before {
      content: "\e90f" !important;
      font-family: "icomoon" !important;
    }

    &:first-child {
      &:before {
        content: " ";
        display: none;
      }
    }
  }

  .breadcrumb-item.active {
    color: map-get($colors, black);
    font-size: $fsize - 1;
    &:before {
      content: "\e90f" !important;
      font-family: "icomoon" !important;
    }
  }
  .subPageMain {
    min-height: 500px;
    .h2 {
      position: relative;
      &:before {
        content: "";
        width: 50px;
        height: 3px;
        background: map-get($colors, primary);
        position: absolute;
        left: 0;
        top: -10px;
      }
    }
    .pageContainer {
      padding: 50px 0;

      @include max(map-get($breakpoints, "md")) {
        padding: 20px 0;
      }

      .h5 {
        line-height: 30px;
      }
    }
    .list-items {
      padding-left: 20px;
      li {
        font-size: clamp(0.85rem, 1vw, 1rem);
        line-height: 150%;
        position: relative;
        list-style-type: disc;
        list-style-position: outside;
        padding-bottom: 10px;

        @include max(map-get($breakpoints, "md")) {
          padding-bottom: 5px;
        }
      }
    }
  }
}

.experience-div {
  background: map-get($colors, primary);
  width: 75%;
  margin: -100px auto 0 auto;
  padding: 50px 0;
  text-align: center;

  .count {
    font-size: clamp(3rem, 8vw, 8rem);
    color: map-get($colors, white);
    line-height: 7rem;
  }
}

.contactForm {
  .form-control {
    padding: 12px;
    background: map-get($colors, lightgray);
    border-radius: 0;
    border: none;

    &:focus {
      outline: 1px solid map-get($colors, lightprimary);
      box-shadow: none;
    }
    &::placeholder {
      font-size: $fsize - 1;
    }
  }
}

.nav-pills {
  .nav-item {
    @include max(map-get($breakpoints, "sm")) {
      width: 100%;
    }
  }
  .nav-link.active {
    background: map-get($colors, secondary);
  }
  .nav-link {
    background: lighten(map-get($colors, secondary), 75%);
    margin-right: 5px;
    color: map-get($colors, black);

    @include max(map-get($breakpoints, "sm")) {
      width: 100%;
      margin-bottom: 5px;
    }
  }
}

.table-responsive {
  margin-top: 25px;
  table {
    thead {
      tr {
        th {
          background: map-get($colors, primary);
          color: map-get($colors, white);
          font-size: $fsize - 1;
          padding: 12px;
          vertical-align: middle;
        }
      }
    }
    td {
      border-style: dashed;
      border-bottom: 1px dashed lighten(map-get($colors, gray), 30%);
      font-size: $fsize - 1;
      padding: 12px;

      a {
        color: map-get($colors, black);

        &:hover {
          text-decoration: underline;
          color: map-get($colors, primary);
        }
      }
    }
  }
}

.product-desc-item {
  // background: lighten(map-get($colors, black), 90%);
  margin: 0 0 35px 0;
  // border-left: 2px solid map-get($colors, primary);
  // padding-left: 15px;
  p {
    font-size: $fsize - 3 !important;
    letter-spacing: 1px;
    margin-bottom: 2px;
    color: lighten(map-get($colors, black), 50%);

    &:before {
      content: "";
      width: 25px;
      height: 2px;
      background: map-get($colors, primary);
      position: absolute;
      top: -3px;
      left: 0;
    }
  }
  .h6 {
    font-size: $fsize + 2;
    word-wrap: break-word;
  }
}

.ProductEnquiryform {
  background: lighten(map-get($colors, primary), 50%);

  form {
    .form-group {
      .form-label {
        font-size: $fsize - 3;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 3px;
        padding-bottom: 0;
      }
      .form-control,
      .form-select {
        border-radius: 0;
        border: none;
        padding: 12px;
        font-size: $fsize - 1;
        border: 1px solid lighten(map-get($colors, primary), 50%);
        &:focus {
          box-shadow: none;
          border: 1px solid map-get($colors, primary);
        }
      }
    }
    textarea {
      height: 120px;
    }
  }
}

.loading {
  position: fixed;
  background: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  p {
    color: map-get($colors, white);
  }
}
